*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.active,
.notActive {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

.notActive {
  color: #000;
}

.active {
  color: #00f;
  font-weight: bold;
}
